.text-input {
    width: 40vw;
    font-size: 30px;
    padding: 5px 10px;
}

@media (max-width: 414px) {
    .text-input {
        width: 84vw;
        font-size: 20px;
        padding: 5px 10px;
    }
}